.page {
    box-sizing: border-box;
    padding-bottom: 70px;
}

.page__header {
    position: relative;
    padding: 55px 0 0;
}

.page__description {
    background-color: #D2E0CF;
    border-top: 6px solid #E8EFE4;
    color: #466951;
    font-size: 17px;
    padding: 20px 550px 20px 65px;
    min-height: 100px;
}

.page h1,
.page h2 {
    padding-left: 65px;
    line-height: 1em;
    text-transform: uppercase;
}

.page h1 {
    height: 88px;
    color: #466951;
}

.page h2 {
    padding-bottom: 15px;
    border-bottom: 1px solid #f3f7f0;
}

.page__footer {
    width: 100%;
    position: fixed;
    height: 70px;
    line-height: 70px;
    background-color: #000;
    bottom: 0;
    left: 0;
    min-width: 1000px;
    box-sizing: border-box;
    padding: 0 0 0 65px;
}

.page__footerLink {
    color: #fff;
    font-family: kelson;
    text-transform: uppercase;
    margin-right: 30px;
}

.page__logo {
    width: 241px;
    height: 45px;
    display: block;
    background: url(logo.jpg) 0 0 no-repeat;
    float: right;
    position: relative;
    top: 12px;
    right: 40px;
}

.page__content {
    padding: 30px 65px;
    position: relative;
}

.page__content::after {
    content: "";
    display: block;
    clear: both;
    width: 100%;
}

.page__col {
    float: left;
    box-sizing: border-box;
    padding: 0 30px;
    width: 33%;
}

.page__content .page__col:first-child {
    padding-left: 0;
}

.page__content .page__col:last-child {
    padding-right: 0;
}

.page__col_1 {
    width: 50%;
}

.page__col_2 {
    width: 25%;
    background-color: #fafafa;
    margin: -30px 0;
    padding-top: 30px;
    padding-bottom: 30px;
}

.page__col_3 {
    width: 25%;
}